#experience .collection.default-collection .collection-item{
    border-bottom: 1px solid #e0e0e0;
}
#experience .collection.default-collection .collection-item:last-child{
    border-bottom: none;
}
#experience .collection.default-collection .collection-item .job-time{
	float: right;
}
@media screen and (max-width: 767px){
    #experience .collection.default-collection .collection-item .job-time{
		float: none;
		display: block;
	}	
}